### https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format ###

-r alarms/requirements.txt
-r array/requirements.txt
-r database/requirements.txt
-r dataframe/requirements.txt
-r document/requirements.txt
-r etc/requirements.txt
-r process/requirements.txt
-r net/requirements.txt
-r statitics/requirements.txt
-r util/requirements.txt
-r file/requirements.txt
