{% extends 'pattern/index.jinja' %}

{% block container %}
  <h3>제품 선택</h3>
  <ul class="list-group">
    {% for entry in entries %}
      <a class="list-group-item" href="{{ url_for('pattern.version.patterns', product=entry.id, page=0) }}">{{ entry.name }}</a>
    {% endfor %}
  </ul>
{% endblock container %}
