<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="author" content="Tester"/>

		<!-- Bootstrap core CSS -->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
		<link href="/static/css/bootstrap-theme.min.css" rel="stylesheet"/>

		<title>TEST</title>
		<style>
			div#bg {
				background-color:yellow;
				width: 498px;
				height: 388px;
				float: left;
				border: 1px solid red;
				margin: 30px 30px;
			  }
		</style>
	</head>
	
	<body>
		<div class="container-fluid">
		<div class="row">
			<div id="bg">
				<form action="/view" method="GET">
					<p>
						체크하세요. : &nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="fruit" value="apple">사과&nbsp;
						<input type="radio" name="fruit" value="banana" checked>바나나&nbsp;
					</p>
					<p>
						입력하세요. : &nbsp;&nbsp;
						<input type="text" name="text" value="text" size="11" maxlength="13">
					</p>

					<input type="submit" value="전송">
				</form>
		
			</div>
		</div>
		</div>


		{% block footer %}
		{% endblock footer %}

		{% block test %}
		{% endblock test %}		

		<ul class="nav navbar-nav navbar-right">
			<li><a href="test/csv">돌아가기</a></li>
		</ul>
		
		
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/popper.min.js"></script>
	
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/static/js/ie10-viewport-bug-workaround.js"></script>

	    {% block script %}
	    {% endblock script %}

	</body>

</html>