{% extends 'base.jinja' %}
{% block base %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 sidebar">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
      <div class="col-md-10 col-md-offset-2 main">
        {% block container %}
        {% endblock container %}
      </div>
    </div>
  </div>
{% endblock base %}
