{% extends 'admin/update/index.jinja' %}

{% block container %}
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" role="presentation"><a href="#add" aria-controls="add" role="tab" data-toggle="tab">추가패턴</a></li>
      <li role="presentation"><a href="#del" aria-controls="del" role="tab" data-toggle="tab">제거패턴</a></li>
    </ul>
    <div class="tab-content">
      <div id="add" class="tab-pane active" role="tabpanel">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>우선순위</th>
              <th>진단형태</th>
              <th>진단명</th>
              <th>파일정보</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in add_entries %}
              <tr>
                <td>{{ entry.r_file.priority }}</td>
                <td>{{ entry.r_file.r_report.r_rt.val }}</td>
                <td>{{ entry.r_file.r_report.r_rs.val }}</td>
                <td>
                  <p>MD5 : {{ entry.r_file.file_md5.encode('hex').upper() }}</p>
                  {% if not entry.r_file.file_sha1 is none %}
                    <p>SHA1 : {{ entry.r_file.file_sha1.encode('hex').upper() }}</p>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div id="del" class="tab-pane" role="tabpanel">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>우선순위</th>
              <th>진단형태</th>
              <th>진단명</th>
              <th>파일정보</th>
            </tr>
          </thead>
          <tbody>
            {% for entry in del_entries %}
              <tr>
                <td>{{ entry.r_file.priority }}</td>
                <td>{{ entry.r_file.r_report.r_rt.val }}</td>
                <td>{{ entry.r_file.r_report.r_rs.val }}</td>
                <td>
                  <p>MD5 : {{ entry.r_file.file_md5.encode('hex').upper() }}</p>
                  {% if not entry.r_file.file_sha1 is none %}
                    <p>SHA1 : {{ entry.r_file.file_sha1.encode('hex').upper() }}</p>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>        
      </div>
    </div>
  </div>
{% endblock container %}
