{% extends 'admin/file/index.jinja' %}

{% block container %}
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>파일번호</th>
          <th>파일상태</th>
          <th>우선순위</th>
          <th>파일형태</th>
          <th>진단형태</th>
          <th>진단명</th>
          <th>파일해시</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr>
            <td>{{ entry.id }}</td>
            <td>{{ PatternCommand(entry.status) }}</td>
            <td>{{ entry.priority }}</td>
            <td>{{ entry.r_filetype.val }}</td>
            <td>{{ entry.r_report.r_rt.val }}</td>
            <td>{{ entry.r_report.r_rs.val }}</td>
            <td>
              <p>MD5 : {{ entry.file_md5.encode('hex').upper() }}</p>
              {% if not entry.file_sha1 is none %}
                <p>SHA1 : {{ entry.file_sha1.encode('hex').upper() }}</p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>
    {{ pagination(pageData) }}
  </div>
{% endblock container %}
