{% extends 'admin/file/index.jinja' %}

{% block container %}
  <div class="col-sm-5">
    <h4>검색모드 선택</h4>
    <ul class="list-group">
      <a class="list-group-item" href="{{ url_for('admin.file.search', mode='report') }}">진단명 검색</a>
      <a class="list-group-item" href="{{ url_for('admin.file.search', mode='md5') }}">MD5 검색</a>
      <a class="list-group-item" href="{{ url_for('admin.file.search', mode='sha1') }}">SHA1 검색</a>
    </ul>
  </div>
{% endblock container %}
