{% extends 'admin/file/index.jinja' %}

{% block container %}
  <div class="col-sm-8">
    <h4>제품 선택</h4>
    <ul class="list-group">
      {% for entry in entries %}
        <a class="list-group-item" href="{{ url_for('admin.file.search', mode='report', step=1, pid=entry.id) }}">{{ entry.name }}</a>
      {% endfor %}
    </ul>
  </div>
{% endblock container %}
