{% extends 'admin/file/index.jinja' %}

{% block container %}
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>제품명</th>
          <th>패턴버전</th>
          <th>패턴상태</th>
          <th>진단명</th>
          <th>파일해시</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in entries %}
          <tr>
            <td>{{ entry.r_product.name }}</td>
            <td>{{ '{:,}'.format(entry.pattern) }}</td>
            <td>{{ PatternCommand(entry.cmd) }}</td>
            <td>{{ MergeReport(entry.r_file.r_report.r_rs.val, entry.extend) }}</td>
            <td>
              <div>MD5 : {{ entry.r_file.file_md5.encode('hex').upper() }}</div>
              {% if not entry.r_file.file_sha1 is none %}
                <div>SHA1 : {{ entry.r_file.file_sha1.encode('hex').upper() }}</div>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div>{{ pagination(pageData) }}</div>
{% endblock container %}
